<!DOCTYPE html>
<html>
<head>
  <title>StartupDemon</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
         #main{
             margin-top: 50px;
         }
  </style>
</head>
<body>

<div id="nav" style="padding-top: 25px">
  <%=
      render "layouts/nav"
  %>
  <div class="container" id="main">

    <%= yield %>
  </div>

</div>
</body>
</html>
